@import url('https://fonts.cdnfonts.com/css/mulish');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --index: calc(1vw + 1vh);
}

a {
  color: inherit; 
  text-decoration: none;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #030013;
    color: #fff;
}
html {
    background-color: #030013;
}

.loginbackground {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #030013;
}

.wrapper {
    position: relative;
}

.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: #030013;
}

h2 {
    font-size: 30px;
    color: #af0eff;
    text-align: center;
}

.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #797979;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
    background: transparent;
}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #757575;
    outline: none;
    border-radius: 5px;

    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
    margin: 0;
}
::-ms-reveal {
    filter: invert(100%);
    color: #797979;
}

/* .form__log {
    height: calc(var(--index) * 0.5);
    width: calc(var(--index) * 0.5);
} */

.input-group input:focus~label,
.input-group input:valid~label {
    top: -10px;
    font-size: 12px;
    background: transparent;
}

.forgot-pass {
    margin: -15px 0 15px;
}

.forgot-pass a {
    color: #797979;
    font-size: 14px;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(16deg, rgb(228, 25, 255) 0%, rgba(175,14,255,1) 100%);
    box-shadow: rgba(255, 255, 255, 0.171) 0px 3px 8px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;

    transition: 0.2s;
}

.btn:hover {
    transform: translate(-0.25rem,-0.25rem);
    background: linear-gradient(16deg, rgb(228, 25, 255) 0%, #af0eff 100%);
    box-shadow: 0.25rem 0.25rem #ffffff;
}

.btn:active {
    transform: translate(0);
    box-shadow: none;
  }

.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.sign-link p {
    color: #797979;
}

.sign-link p a {
    color: #af0eff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.sign-link p a:hover {
    text-decoration: underline;
    filter: drop-shadow(0 0 1px #af0eff62);
}


.login__oval {
    height: calc(var(--index) * 0.5);
    width: calc(var(--index) * 0.5);
    background-color: #03001300;
}

.star {
    height: calc(var(--index));
    width: calc(var(--index));
    animation: ovall 25s infinite linear;
    position: absolute;
    /* left: -500px; */
    z-index: 97;
    background-color: #03001300;
}
  
  @keyframes ovall {
    0%{
        transform: translate(50vw, -100vh) rotate(-15deg);
    }
    100% {
        transform: translate(-15vw, 50vh) rotate(150deg);
    }
  }

.star2 {
    height: calc(var(--index));
    width: calc(var(--index));
    animation: ovall2 25s infinite linear;
    position: absolute;
    /* left: -500px; */
    z-index: 97;
    background-color: #03001300;
}

  @keyframes ovall2 {
    0%{
        transform: translate(10vw, -100vh) rotate(-15deg);
    }
    100% {
        transform: translate(-15vw, 50vh) rotate(150deg);
    }
  }